<li><a [routerLink]="['/admin/product']">Products</a></li>
<form (ngSubmit)="onHandleSubmit()">
    <div class="mb-3">
        <label for="title">Title:</label>
        <input type="text" class="form-control" [(ngModel)]="product.name" id="title" name="title" />
    </div>
    <div class="mb-3">
        <label for="price">Price:</label>
        <input type="number" class="form-control" [(ngModel)]="product.price" id="price" name="price" />
    </div>

    <button type="submit">Update</button>
</form>